.card-dialog-title-form {
  width: 100%;
}

.card-dialog-title {
  font-weight: bold;
}

.card-dialog-description {
  min-height: 50px;
  background-color: #ECF0F1;
  width: 85%;
  margin: auto;
  border-radius: 10px;
  padding-top: 15px;
}

.card-dialog-description.input {
  padding-bottom: 10px;
}

.card-dialog-actions {
  /* position: absolute;
  bottom: 35px;
  right: 25px; */
}

.description-input {
  width: 100%;
}
